html {
  /* 1/16 = 6.25% */
  font-size: 6.25%;
}

body {
  font-size: 20rem;
  font-family: sans-serif;
  width: 1200rem;
  margin: 40rem auto 40rem auto;
}

.parent {
  display: flex;
  height: 300rem;
  background-color: aquamarine;
}

.child {
  width: 100rem;
  height: 100rem;
  margin: auto; /* Center! */
  background-color: thistle;
}
