html {
  /* 1/16 = 6.25% */
  font-size: 6.25%;
}

body {
  font-size: 20rem;
  font-family: sans-serif;
  /* width: 1200rem;
  margin: 40rem auto 40rem auto; */
}

.flex-container {
  display: flex;
  height: 500rem;
  background-color: aquamarine;

  /* Define the flow direction and if we allow the items to swap 
   * Remember, this is the same as
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;

  /* Define how to distribute the remaining space */
  justify-content: space-around;
}

.child {
  width: 150rem;
  height: 100rem;
  background-color: thistle;
  text-align: center;

  /* Center! */
  margin: auto;
}
