html {
  font-size: 6.25%;
}

/* Mobile first */
body {
  font-family: sans-serif;
  font-size: 16rem;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-item {
  width: 45%;
  margin-bottom: 20rem;
}

.flex-item img {
  width: 100%;
}

/* Medium and large screens */
@media all and (min-width: 801px) {
  body {
    width: 1000rem;
    margin: auto;
  }
}
