html {
  font-size: 6.25%;
}

body {
  font-family: sans-serif;
  font-size: 16rem;
}

img {
  width: 100%;
}

.flex-item {
  margin-bottom: 32rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 501px) {
}
