/* Ref: https://www.youtube.com/watch?v=WlGQdgy-M6w */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Lithium Background color: (245, 222, 179) #f5deb3 */

/* ref: https://friendsofepub.github.io/eBookTricks/ */
body * {
  line-height: 1.3;
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  /* object-fit: contain; */
  display: block;
}

p {
  text-indent: 1.3em;
  /* https://stackoverflow.com/a/3170774 */
  margin: 0 auto;
}
